n8n/Paperless.json
{
  "name": "Paperless",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3d0f4be2-b9c7-4e6b-b67e-706a8f91b4da",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -576,
        -768
      ],
      "id": "98ace728-b37c-4973-8cde-52535aeaf40e",
      "name": "Webhook",
      "webhookId": "3d0f4be2-b9c7-4e6b-b67e-706a8f91b4da"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad12ca29-a678-4f5a-9f30-2f2f8052aaea",
              "name": "body.doc_url",
              "value": "={{ $json.body.doc_url.split('/').filter(Boolean).pop() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        -768
      ],
      "id": "3e4d7ea0-1ec6-4715-8c74-90f9da4314bc",
      "name": "Get Id"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.2:3b",
          "mode": "list",
          "cachedResultName": "llama3.2:3b"
        },
        "messages": {
          "values": [
            {
              "content": "`You are a personalized document analyzer. Your task is to analyze documents and extract relevant information.\n\nAnalyze the document content and extract the following information into a structured JSON object:\n\n1. title: Create a concise, meaningful title for the document\n2. correspondent: Identify the sender/institution but do not include addresses\n3. tags: Select up to 4 relevant thematic tags\n4. document_date: Extract the document date (format: YYYY-MM-DD)\n5. document_type: Determine a precise type that classifies the document (e.g. Invoice, Contract, Employer, Information and so on)\n6. language: Determine the document language (e.g. \"de\" or \"en\")\n      \nImportant rules for the analysis:\n\nFor tags:\n- FIRST check the existing tags before suggesting new ones\n- Use only relevant categories\n- Maximum 4 tags per document, less if sufficient (at least 1)\n- Avoid generic or too specific tags\n- Use only the most important information for tag creation\n- The output language is the one used in the document! IMPORTANT!\n\nFor the title:\n- Short and concise, NO ADDRESSES\n- Contains the most important identification features\n- For invoices/orders, mention invoice/order number if available\n- The output language is the one used in the document! IMPORTANT!\n\nFor the correspondent:\n- Identify the sender or institution\n- When generating the correspondent, always create the shortest possible form of the company name (e.g. \"Amazon\" instead of \"Amazon EU SARL, German branch\")\n\nFor the document date:\n- Extract the date of the document\n- Use the format YYYY-MM-DD\n- If multiple dates are present, use the most relevant one\n\nFor the language:\n- Determine the document language\n- Use language codes like \"de\" for German or \"en\" for English\n- If the language is not clear, use \"und\" as a placeholder\n\nDo not include any conversational text, markdown block formatting (like ```json), or notes. Output ONLY the raw JSON object"
            },
            {
              "content": "={{ $json.results[0].content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        96,
        -768
      ],
      "id": "354fd1ab-7131-4ac5-9b96-b7e20f2d3652",
      "name": "Process Document content",
      "credentials": {
        "ollamaApi": {
          "id": "Gj0YKrIuJYtXRa2P",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -768
      ],
      "id": "cdcc3d1a-ef61-40db-987e-0ee37829581f",
      "name": "json string to json"
    },
    {
      "parameters": {
        "jsCode": "const tagResults = $('List all tags').first().json.results || [];\n\nconst tagToIdMap = tagResults.reduce((acc, tag) => {\n  if (tag.name) {\n    // Safely turn the existing tag name to lowercase for a reliable match\n    acc[tag.name.toLowerCase().trim()] = tag.id;\n  }\n  return acc;\n}, {});\n\nconst typeResults = $('List all types').first().json.results || [];\nconst typeToIdMap = typeResults.reduce((acc, type) => {\n  if (type.name) {\n    // Safely turn the existing tag name to lowercase for a reliable match\n    acc[type.name.toLowerCase().trim()] = type.id;\n  }\n  return acc;\n}, {});\n\nconst correspondentResults = $('List all correspondents').first().json.results || [];\nconst correspondentToIdMap = correspondentResults.reduce((acc, correspondent) => {\n  if (correspondent.name) {\n    // Safely turn the existing tag name to lowercase for a reliable match\n    acc[correspondent.name.toLowerCase().trim()] = correspondent.id;\n  }\n  return acc;\n}, {});\n\nconst mainInputJson = $('json string to json').first().json || {};\nconst documentId = $('Get Id').first().json.body.doc_url;\n\nconst targetTags = mainInputJson.tags || [];\nconst foundTagIds = [];\nconst missingTagNames = [];\nfor (const tagName of targetTags) {\n  const normalizedTag = tagName.toLowerCase().trim();\n  const existingTagId = tagToIdMap[normalizedTag];\n  \n  if (existingTagId !== undefined) {\n    foundTagIds.push(existingTagId);\n  } else {\n    missingTagNames.push(tagName.trim());\n  }\n}\n\nconst targetType = mainInputJson.document_type || \"\";\nconst foundTypeIds = [];\nconst missingTypeNames = [];\nconst normalizedType = targetType.toLowerCase().trim();\nconst existingTypeId = typeToIdMap[normalizedType];\nif (existingTypeId !== undefined) {\n  foundTypeIds.push(existingTypeId);\n} else {\n  missingTypeNames.push(targetType.trim());\n}\n\nconst targetCorrespondent = mainInputJson.correspondent || \"\";\nconst foundCorrespondentIds = [];\nconst missingCorrespondentNames = [];\nconst normalizedCorrespondent = targetCorrespondent.toLowerCase().trim();\nconst existingCorrespondentId = correspondentToIdMap[normalizedCorrespondent];\nif (existingCorrespondentId !== undefined) {\n  foundCorrespondentIds.push(existingCorrespondentId);\n} else {\n  missingCorrespondentNames.push(targetCorrespondent.trim());\n}\n\nreturn {\n  json: {\n    id: documentId,\n    ...mainInputJson,\n    matched_tag_ids: foundTagIds,\n    tags_to_create: missingTagNames,\n    matched_type_ids : foundTypeIds,\n    type_to_create: missingTypeNames,\n    matched_correspondent_ids : foundCorrespondentIds,\n    correspondent_to_create: missingCorrespondentNames,\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        -768
      ],
      "id": "f431db41-c107-4b1b-a68c-614ec9d64620",
      "name": "Map",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "id": {
          "__rl": true,
          "value": "={{ $json.body.doc_url }}",
          "mode": "id"
        }
      },
      "type": "@mephistojb/n8n-nodes-paperless.paperless",
      "typeVersion": 2,
      "position": [
        -128,
        -768
      ],
      "id": "3f94f1ef-0fd1-4b54-b4fc-17c5e7b83146",
      "name": "Get a document",
      "credentials": {
        "paperlessApi": {
          "id": "nKpGha7GjJb4eFzA",
          "name": "Paperless-ngx account"
        }
      }
    },
    {
      "parameters": {
        "resource": "tag",
        "operation": "create",
        "name": "={{ $json.tags }}"
      },
      "type": "@mephistojb/n8n-nodes-paperless.paperless",
      "typeVersion": 2,
      "position": [
        1968,
        -1088
      ],
      "id": "c0efc89d-46e2-42ca-b0dd-de82a4eb5902",
      "name": "Create a new tag",
      "alwaysOutputData": true,
      "credentials": {
        "paperlessApi": {
          "id": "nKpGha7GjJb4eFzA",
          "name": "Paperless-ngx account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "document_type",
        "operation": "create",
        "name": "={{ $('Map').item.json.type_to_create }}"
      },
      "type": "@mephistojb/n8n-nodes-paperless.paperless",
      "typeVersion": 2,
      "position": [
        2448,
        -1120
      ],
      "id": "8c253fcc-4b5a-421e-9d19-5d798da8464a",
      "name": "Create a new type",
      "alwaysOutputData": true,
      "credentials": {
        "paperlessApi": {
          "id": "nKpGha7GjJb4eFzA",
          "name": "Paperless-ngx account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "correspondent",
        "operation": "create",
        "name": "={{ $('Map').item.json.correspondent_to_create[0] }}"
      },
      "type": "@mephistojb/n8n-nodes-paperless.paperless",
      "typeVersion": 2,
      "position": [
        2848,
        -1120
      ],
      "id": "356a0884-3f4c-4ec2-bb27-bd397038557a",
      "name": "Create a new correspondent",
      "alwaysOutputData": true,
      "credentials": {
        "paperlessApi": {
          "id": "nKpGha7GjJb4eFzA",
          "name": "Paperless-ngx account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "tags",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1568,
        -768
      ],
      "id": "f8833e7a-3cdb-4cdc-a4a1-234ba81e18d9",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "update",
        "id": {
          "__rl": true,
          "value": "={{ $('Map').item.json.id }}",
          "mode": "id"
        },
        "update_fields": {
          "correspondent": {
            "__rl": true,
            "value": "={{ $('Map').item.json.matched_correspondent_ids.length > 0 ? $('Map').item.json.matched_correspondent_ids[0] : $('Create a new correspondent').item.json.id }}",
            "mode": "id"
          },
          "created": "={{ $('Map').item.json.document_date }}",
          "document_type": {
            "__rl": true,
            "value": "={{ $('Map').item.json.matched_type_ids.length > 0 ? $('Map').item.json.matched_type_ids[0] : $('Create a new type').item.json.id }}",
            "mode": ""
          },
          "tags": {
            "values": [
              {
                "tag": {
                  "__rl": true,
                  "value": "={{ ($('Map').item.json.matched_tag_ids || []).concat(($('Create a new tag').all().map(item => item.json.id) || [])) }}",
                  "mode": "id"
                }
              }
            ]
          },
          "title": "={{ $('Map').item.json.title }}"
        }
      },
      "type": "@mephistojb/n8n-nodes-paperless.paperless",
      "typeVersion": 2,
      "position": [
        3120,
        -768
      ],
      "id": "17b35eb3-b4c3-465e-804c-9046de4aa39d",
      "name": "Update document",
      "credentials": {
        "paperlessApi": {
          "id": "nKpGha7GjJb4eFzA",
          "name": "Paperless-ngx account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "96edf75d-9d8a-4920-a127-f5227a3c5e85",
              "leftValue": "={{$('Map').item.json.tags_to_create .length}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1792,
        -768
      ],
      "id": "28e1c212-3226-41ba-9dd5-962898cfa463",
      "name": "If new tags"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8bf86753-423f-4083-a972-d902edfa303e",
              "leftValue": "={{ $('Map').item.json.type_to_create.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2240,
        -768
      ],
      "id": "5f8b6c83-f666-414c-8194-867e1bc46da1",
      "name": "If new type"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0cdf8dbc-eec4-4787-85bb-113a79bd09aa",
              "leftValue": "={{ $('Map').item.json.correspondent_to_create.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2640,
        -768
      ],
      "id": "75844d35-d662-4085-8854-32a5f8cee297",
      "name": "If new correspondent"
    },
    {
      "parameters": {
        "url": "http://paperless:8000/api/tags/?page_size=500",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        656,
        -768
      ],
      "id": "37a8619c-a4c5-448a-840d-c49c6bf92038",
      "name": "List all tags",
      "credentials": {
        "httpBasicAuth": {
          "id": "D6gijNPniuWukX6m",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "url": "http://paperless:8000/api/document_types/?page_size=500",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        864,
        -768
      ],
      "id": "6592895a-d844-48aa-9c8d-43f1899677d2",
      "name": "List all types",
      "credentials": {
        "httpBasicAuth": {
          "id": "D6gijNPniuWukX6m",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "url": "http://paperless:8000/api/correspondents/?page_size=500",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1072,
        -768
      ],
      "id": "867e15a9-044d-4348-8452-d90572d53610",
      "name": "List all correspondents",
      "credentials": {
        "httpBasicAuth": {
          "id": "D6gijNPniuWukX6m",
          "name": "Unnamed credential"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "192.168.1.239",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "connection": "keep-alive",
            "user-agent": "python-httpx/0.28.1",
            "content-length": "32",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "doc_url": "None/documents/69/"
          },
          "webhookUrl": "http://192.168.1.239:5678/webhook-test/3d0f4be2-b9c7-4e6b-b67e-706a8f91b4da",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Id": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Document content": {
      "main": [
        [
          {
            "node": "json string to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "json string to json": {
      "main": [
        [
          {
            "node": "List all tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Process Document content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a new tag": {
      "main": [
        [
          {
            "node": "If new type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a new type": {
      "main": [
        [
          {
            "node": "If new correspondent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a new correspondent": {
      "main": [
        [
          {
            "node": "Update document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If new tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If new tags": {
      "main": [
        [
          {
            "node": "Create a new tag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If new type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If new type": {
      "main": [
        [
          {
            "node": "Create a new type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If new correspondent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If new correspondent": {
      "main": [
        [
          {
            "node": "Create a new correspondent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List all tags": {
      "main": [
        [
          {
            "node": "List all types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List all types": {
      "main": [
        [
          {
            "node": "List all correspondents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List all correspondents": {
      "main": [
        [
          {
            "node": "Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e2536c38-1274-4e4f-a540-64ce311bed77",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8fe0601ad7694d11bfa18b9bc3487a059dcf288ff4633ce59c31bfdbd4bb151f"
  },
  "nodeGroups": [],
  "id": "aHCX1R0QgWvFpHLB",
  "tags": []
}